{% extends 'basic.html' %}    

{%block title%}Add Post{%endblock%}

{%block body%}
<form action="add" method="POST"  >
    {% csrf_token %}
    

    
        <div class="form-group">
          Title
          <input type="text" class="form-control" id="title" name="title" required>
        </div>

        <div class="form-group">
          Year
          <input type="number" class="form-control" id="year" name="year" required>
        </div>

        

          <div class="form-group">
          Company
            <input type="text" class="form-control" id="company" name="company" required>
          </div>
        <div class="form-group">
          <label for="job_type">Example select</label>
          <select class="form-control" id="job_type" name="job_type" required>
            <option>PPO</option>
            <option>JOB</option>
            <option>SUMMER INTERN</option>
            <option>WINTER INTERN</option>
            
          </select>
        </div>
        
        <div class="form-group">
          <label for="content">Content</label>
          
            <textarea name="content" id="content"></textarea>
            <script>
                    ClassicEditor
                            .create( document.querySelector( '#content' ) )
                            .then( editor => {
                                    console.log( editor );
                            } )
                            .catch( error => {
                                    console.error( error );
                            } );
            </script>
        
          
        </div>

        <input type="submit" name="submit"></input>
      </form>
<p>
        {%for message in messages%}
        
        {{message}}

        {%endfor%}
</p>
{%endblock%}