{% extends 'basic.html' %}    

{%block title%}Blog Page{%endblock%}

{%block body%}


<div class="container">
    <div class="col-md-8">

      <article class="blog-post">
        <h2 class="blog-post-title mb-1">{{posts.title}}</h2>
        {% comment %} <p class="blog-post-meta">{{posts.publish_date}}<a href="#"></a></p> {% endcomment %}
        <h4>Company : {{posts.company_name}}</h4>
        <h4>Year Published: {{posts.year}}</h4>
        
        
        <p>{{posts.content}}
        </p>
        <form action="/bookmark/{{posts.post_id}}" method="POST">{% csrf_token %}
        
          <input type='submit' name='bookmarkit' value='bookmark'></input>
        </form>
        <div class="fb-comments" data-href="http://localhost:8000/post/{{posts.post_id}}" data-width="" data-numposts="10"></div>
      </article>

      </div>

    </div>
{%endblock%}